@tailwind base;
@tailwind components;
@tailwind utilities;


.flex_1{
    @apply flex justify-start items-center 
}

.flex_2{
    @apply flex items-center
}

.flex_3{
    @apply flex flex-col justify-between items-center
}

.flex_4{
    @apply flex justify-start items-start 
}

.flex_5{
    @apply flex justify-center items-center 
}

.flex_item_2{
    @apply justify-start items-center 
}

.upcomming_item{
    @apply uppercase sm:text-[16px] text-[12px]  font-[700]
}

.footer_items_logo {
    @apply flex justify-center items-center rounded-md w-12 h-12 bg-slate-800
}

.script-side{
    /* width: 50px; */
    transform: rotate(90deg);
}


.header-padding{
    padding: 1rem 0.5rem 0.8rem 2rem;
}

.gray-image {
    filter: grayscale(100%);
}

.footer > div > p{
   padding-top: 5px;
   padding-bottom: 5px;
}

/* Mobile Navbar CSS */
.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
  }
  .app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .app__navbar-smallscreen-links li {
    margin: 1rem;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .app__navbar-smallscreen-links li {
    color: white;
  }
  

/* Mobile Nav CSS */
.background-image-ome{
    background-image: url("./assets/fighterHome.png");
    position: relative;
    width: 300px;
    height: 200px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 200px; /* Center text vertically */
    background-size: cover; /* Make sure the image covers the container */
    background-position: center; /* Center the image */
}

.background-image{
    background-image: url("./assets/f7.png");
    background-size: cover; 
    background-position: center; 
    height: 30rem;
    width: 100%;
    filter: grayscale(100%);
}

.background-image-top{
    background-image: url("./assets/f9.png");
    background-size: cover;
    background-position: center; 
    height: 28rem;
    width: 100%;
    filter: grayscale(100%);
}

.background-image-topknokouts{
    background-image: url("./assets/topknokouts.png");
    background-size: cover;
    background-position: center; 
    height: 28rem;
    width: 100%;
    border-radius: 5px;
}

.background-image-boxer{
    background-image: url("./assets/bg-boxer.png");
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100%;
}

.background-image-card-boxer{
    background-image: url("./assets/cardBoxer.png");
    background-size: cover; 
    background-position: center; 
    height: 39rem;
}


.background-image-card{
    background-image: url("./assets/fighters.png");
    background-size: cover; 
    background-position: center; 
    width: 100%;
}

.card-gradient {
    background: rgb(15,15,15);
background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(21,21,21,0.9752275910364145) 56%, rgba(36,36,36,0.6530987394957983) 85%);
}

.card-gradient-a{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.9108018207282913) 0%, rgba(15,15,15,0.4682247899159664) 38%);
}

.card-top-gradient {
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(248,41,35,1) 27%);
}

.card-legacy-gradient{
    background: rgb(15,15,15);
    background: linear-gradient(0deg, rgba(15,15,15,1) 12%, rgba(21,21,21,0.835171568627451) 62%, rgba(36,36,36,0.7987570028011204) 100%);
}

.top-knockout-gradient{
    background: rgb(15,15,15);
    background: linear-gradient(0deg, rgba(0,0,0,0.9921218487394958) 0%, rgba(36,36,36,0.048144257703081283) 49%, rgba(4,4,4,0.9417016806722689) 100%);
}

.comunity-gradient{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(37, 37, 37, 0.715) 10%, rgba(15,15,15,0.9864320728291317) 90%);
    
}

/* --------------------------------- */
.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  }
  
  .flex-item {
    /* flex: 1; Make items share available space equally */
    /* Optional spacing around items */
  }
  
  /* Media Query for Mobile View (Adjust breakpoint as needed) */
  @media (max-width: 1023px) {
    .flex-container {
      flex-direction: column; /* Stack items on top of each other */
    }

      /* order: 2;     .flex-item { }Move the middle item below on mobile (optional) */
   
      .flex-item{
        order: 2;
      }

    .flex-item.middle {
      order: 3; /* Re-order the middle item back to the top on mobile (if needed) */
    }
  }
/* --------------------------------- */


@media only screen and (max-width: 600px) {
   
    .background-image{
        height: 20rem;
        width: 100%;
    }
  }